/* MOBILE FIRST */

/* General */
html body {
    font-family: 'Open Sans', sans-serif;
    color: #333232;
}

.page a {
  color: #4E4E89;
}

.page a:hover {
  color: #3B3B53;
}

.page h2 {
	font-family: OptimaLTStd-ExtraBlack;
	font-weight: normal;
	font-style: normal;
  line-height: 1.5;
}

pre {
  padding: .5em;
  background: #F4F4F4;
  border-radius: 2px;
}

/* Header/Nav */
.header-primary {
  background: #3B3B53;
}

.primary-header-wrapper {
  margin-bottom: 2.7em;
}

.header-topbar {
  display: flex;
  justify-content: space-between;
  display: -webkit-flex;
  -webkit-justify-content: space-between;
  position: relative;
  align-items: center;
  padding: .8em 0;
}

.header-topbar img {
  align-self: flex-start;
  -webkit-align-items: flex-start;
}

.header-topbar .navbar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  align-self: flex-start;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: flex-start;
  -webkit-align-items: flex-end;
  -webkit-align-self: flex-start;
  margin-top: 15px;
  padding: 0;
  color: white;
  text-align: right;
}

.navbar .navbar-toggler {
  background: #4E4E89;
  font-size: 2em;
  flex: 0 0 auto;
  -webkit-flex: 0 0 auto;
}

#exCollapsingNavbar2 .nav-link {
  display: block;
  padding-top: 1.8em;
  color: white;
  font-size: 1.3em;
}

#exCollapsingNavbar2 .nav-link:hover {
  color: #EEB029;
}

/* Footer */
.footer-primary {
  text-align: center;
  background: #333232;
  color: #F4F4F4;
  font-size: .7em;
}

.footer-wrapper img {
  margin-bottom: 1rem;
}

.footer-wrapper small {
  display: block;
}

/* Responsive */

/* Small and up */
@media (min-width: 544px) {
  .primary-header-wrapper {
    margin-bottom: 5em;
  }

  .header-topbar .navbar {
    margin-top: 0;
  }

  #exCollapsingNavbar2 .nav-link {
    display: inline-block;
    padding-top: 0;
    padding-right: 1.4em;
    font-size: 1em;
  }

  #exCollapsingNavbar2 .nav-link:last-of-type {
    padding-right: 0;
  }

  .header-topbar {
    display: block;
  }

  .header-topbar img {
    position: absolute;
  }
}

/* Medium and up */
@media (min-width: 768px) {
  #exCollapsingNavbar2 .nav-link {
    font-size: 1.3em;
  }

  .footer-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    display: -webkit-flex;
    -webkit-justify-content: space-between;
    -webkit-align-items: center;
    padding: 0 3em;
    width: 100%;
  }

  .footer-wrapper img {
    margin-bottom: 0;
  }
}

/* Large and up */
@media (min-width: 992px) {
  .header-primary .primary-header-wrapper {
    padding: .4em 0;
  }

  .header-topbar .navbar {
    padding: .4em 0;
  }
}
